@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: #07030b;
}

/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background: #ffffff6b;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffffa4;
}
